@page "/EditNotification/{Id:int}"
@using FedPet.Data
@inject DbService Db
@inject NavigationManager Navigation

<div class="container-fluid justify-content-center align-content-start vw-100 vh-100">

    @* SPACING *@
    <div class="row" style="min-height: 5vh;"></div>

    @* PET NAME *@
    <div class="row justify-content-center align-content-center text-center" style="min-height: 10vh;">
        <h1 class="d-inline-block fw-bold text-name-break" style="width: 80vw;">
            @_self?.Name
        </h1>
    </div>

    @* NOTIFICATION LABEL *@
    <div class="row justify-content-center align-content-center text-center" style="min-height: 5vh;">
        <h2 class="d-inline-block fw-bold">
            Notifications
        </h2>
    </div>

    
    @* NOTIFICATION EDIT CONTROLS *@
    <div class="row justify-content-center align-content-center mt-4">
        <div class="col-9 justify-content-center align-content-center edit-notification">

            @* Enabled row *@
            <div class="row justify-content-evenly align-content-center">
                <div class="col-8 justify-content-start align-content-center text-start"><span class="fw-normal">Enabled</span></div>

                <div class="col-4 justify-content-end text-end">
                    <div class="form-check form-switch justify-content-end text-end">
                        <input type="checkbox" class="d-inline-block form-check-input" id="flexSwitchCheckDefault" @bind="_enableCheckbox" style="float:right; margin-right: auto;"/></div>
                </div>
            </div>

            @* HORIZONTAL LINE *@
            <div class="row">
                <div class="col">
                    <hr/></div></div>

            @* Notify in row *@
            <div class="row justify-content-evenly align-content-center">
                <div class="col-4 justify-content-start align-content-center text-start"><span class="fw-normal align-self-center">Notify in</span></div>

                <div class="col-8 justify-content-center">
                    
                    @* DAYS CONTROLS *@
                    <div class="row justify-content-evenly mb-3">
                        <div class="col-6 justify-content-center align-content-center text-center">

                            <div class="row justify-content-center align-content-center">

                                <div class="col-4 g-2 justify-content-center align-content-center mx-auto" style="margin: auto;">
                                    <div class="button-neutral shadow-sm mx-auto justify-content-center align-content-center" style="width:100%;"
                                         @onclick="() => { ChangeValue(ref _days, -1, 0, 31); _minutes = 0; _hours = 0; }">
                                        <img src="icons/minus.svg" class="icon d-block" alt="subtract"/>
                                    </div>
                                </div>
                                <div class="col-4 g-0 justify-content-center align-content-center text-center">
                                    <span class="fw-bold" style="color: var(--fedpet-green);">@_days</span>
                                </div>
                                <div class="col-4 g-2 justify-content-center align-content-center mx-auto" style="margin: auto;">
                                    <div class="button-neutral shadow-sm mx-auto justify-content-center align-content-center" style="width:100%;"
                                         @onclick="() => { ChangeValue(ref _days, 1, 0, 31); _minutes = 0; _hours = 0; }">
                                        <img src="icons/plus.svg" class="icon d-block" alt="add"/>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-6 justify-content-end text-end"><span class="fw-normal">Days</span></div>
                    </div>

                    @* HOURS CONTROLS *@
                    <div class="row justify-content-evenly">
                        <div class="col-6 justify-content-center align-content-center text-center">

                            <div class="row justify-content-center align-content-center">

                                <div class="col-4 g-2 justify-content-center align-content-center mx-auto" style="margin: auto;">
                                    <div class="button-neutral shadow-sm mx-auto justify-content-center align-content-center" style="width:100%;"
                                         @onclick="() => { ChangeValue(ref _hours, -1, 0, 23); _days = 0; }">
                                        <img src="icons/minus.svg" class="icon d-block" alt="subtract"/>
                                    </div>
                                </div>
                                <div class="col-4 g-0 justify-content-center align-content-center text-center">
                                    <span class="fw-bold" style="color: var(--fedpet-green);">@_hours</span>
                                </div>
                                <div class="col-4 g-2 justify-content-center align-content-center mx-auto" style="margin: auto;">
                                    <div class="button-neutral shadow-sm mx-auto justify-content-center align-content-center" style="width:100%;"
                                         @onclick="() => { ChangeValue(ref _hours, 1, 0, 23); _days = 0; }">
                                        <img src="icons/plus.svg" class="icon d-block" alt="add"/>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-6 justify-content-end text-end"><span class="fw-normal">Hours</span></div>
                    </div>

                    @* MINUTES CONTROLS *@
                    <div class="row justify-content-evenly mt-3">
                        <div class="col-6 justify-content-center align-content-center text-center">

                            <div class="row justify-content-center align-content-center">

                                <div class="col-4 g-2 justify-content-center align-content-center mx-auto" style="margin: auto;">
                                    <div class="button-neutral shadow-sm mx-auto justify-content-center align-content-center" style="width:100%;"
                                         @onclick="() => { ChangeValue(ref _minutes, -15, 0, 45); _days = 0; }">
                                        <img src="icons/minus.svg" class="icon d-block" alt="subtract"/>
                                    </div>
                                </div>
                                <div class="col-4 g-0 justify-content-center align-content-center text-center">
                                    <span class="fw-bold" style="color: var(--fedpet-green);">@_minutes</span>
                                </div>
                                <div class="col-4 g-2 justify-content-center align-content-center mx-auto" style="margin: auto;">
                                    <div class="button-neutral shadow-sm mx-auto justify-content-center align-content-center" style="width:100%;"
                                         @onclick="() => { ChangeValue(ref _minutes, 1, 0, 45); _days = 0; }"> @* CHANGE BACK TO 15 MINUTES PER CLICK *@
                                        <img src="icons/plus.svg" class="icon d-block" alt="add"/>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-6 justify-content-end text-end"><span class="fw-normal">Minutes</span></div>
                    </div>
                    
                </div>
            </div>

            @if (_hours == 0 && _minutes == 0)
            {
                @* HORIZONTAL LINE *@
                <div class="row">
                    <div class="col">
                        <hr/></div></div>

                @* Notify at time row *@
                <div class="row justify-content-evenly align-content-center">
                    <div class="col-4 justify-content-start align-content-center text-start"><span class="fw-normal">Notify at</span></div>

                    <div class="col-8 justify-content-center align-content-center">
                        <div class="row justify-content-end align-content-center">

                            <div class="col-2 g-2 justify-content-center align-content-center mx-auto" style="margin: auto;">
                                <div class="button-neutral shadow-sm mx-auto justify-content-center align-content-center" style="width:100%;"
                                     @onclick="() => ChangeValue( ref _notifyAtMinutes, -15, 60, 720)">
                                    <img src="icons/minus.svg" class="icon d-block" alt="subtract"/>
                                </div>
                            </div>
                            <div class="col-4 g-0 justify-content-center align-content-center text-center">
                                <span class="fw-bold" style="color: var(--fedpet-green);">@GetNotifyAtString()</span>
                            </div>
                            <div class="col-2 g-2 justify-content-center align-content-center mx-auto" style="margin: auto;">
                                <div class="button-neutral shadow-sm mx-auto justify-content-center align-content-center" style="width:100%;"
                                     @onclick="() => ChangeValue( ref _notifyAtMinutes, 15, 60, 720)">
                                    <img src="icons/plus.svg" class="icon d-block" alt="add"/>
                                </div>
                            </div>
                            <div class="col-4 g-0 justify-content-center align-content-center text-center" @onclick="() => _notifyAtAm = !_notifyAtAm">
                                @if (_notifyAtAm) { <span class="fw-bold" style="color: var(--fedpet-green); text-decoration: underline;">AM</span> }
                                else { <span class="fw-bold" style="color: var(--fedpet-green); text-decoration: underline;">PM</span> }
                            </div>
                            
                        </div>
                    </div>
                </div>
            }
        
        </div>
    </div>

    @* BUTTONS - ACCEPT AND DECLINE CONTROLS *@
    <div class="row justify-content-center mt-4">
        
        <div class="col-3 justify-content-center">
            <div class="button-accept shadow-sm mx-auto justify-content-center align-content-center" @onclick="OnAcceptClick">
                <img src="icons/accept.svg" class="icon d-block" alt="accept"/></div></div>

        <div class="col-3 justify-content-center">
            <a href="@($"/PetView/{_self?.Id}")">
                <div class="button-decline shadow-sm mx-auto justify-content-center align-content-center">
                    <img src="icons/decline.svg" class="icon d-block" alt="decline"/></div></a></div>
        
    </div>

</div>

@code {
    [Parameter] public int Id { get; set; }
    
    private Pet? _self;

    private bool _enableCheckbox;
    private int _days;
    private int _hours;
    private int _minutes;
    private int _notifyAtMinutes;
    private bool _notifyAtAm;
    
    // PAGE INITIALIZATION
    protected override async Task OnInitializedAsync()
    {
        _self = await Db.GetPetAsync(Id);
        if (_self is null) Navigation.NavigateTo("/");
        else
        {
            _enableCheckbox = _self.NotificationEnabled;
            _days = _self.NotificationIntervalDays;
            _hours = _self.NotificationIntervalHours;
            _minutes = _self.NotificationIntervalMinutes;
            _notifyAtMinutes = _self.NotifyAtMinutes;
            _notifyAtAm = _self.NotifyAtAm;
        }
    }

    private async Task OnEnableCheckbox()
    {
        if (_self is not null)
            _self.NotificationEnabled = !_self.NotificationEnabled;
        await Task.CompletedTask;
    }

    private async Task OnAcceptClick()
    {
        if (_self is not null)
        {
            if (_enableCheckbox && (_days != 0 || _hours != 0 || _minutes != 0))
            {
                _self.NotificationEnabled = _enableCheckbox;
                _self.NotificationIntervalDays = _days;
                _self.NotificationIntervalHours = _hours;
                _self.NotificationIntervalMinutes = _minutes;
                _self.NotifyAtMinutes = _notifyAtMinutes;
                _self.NotifyAtAm = _notifyAtAm;

                var records = await Db.GetFeedingRecordsAsync(_self.Id);
                if (records.Count > 0)
                {
                    await NotificationHandler.CreateNotification(Db, _self, records.Last().FeedingTime);
                }
            }
            else
            {
                _self.NotificationEnabled = false;
                await NotificationHandler.CancelNotification(Db, _self);
            }
            await Db.UpdatePetAsync(_self);
        }
        
        Navigation.NavigateTo($"/PetView/{_self?.Id}");
    }

    private void ChangeValue(ref int value, int add, int min, int max)
    {
        if (value + add >= min && value + add <= max)
            value += add;
        else if (value + add < min)
            value = max;
        else if (value + add > max)
            value = min;
        
        StateHasChanged();
    }

    private string GetNotifyAtString()
    {
        int hours = _notifyAtMinutes / 60;
        int minutes = _notifyAtMinutes % 60;
        return minutes == 0 ? $"{hours}:00" : $"{hours}:{minutes}";
    }
}